@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.scroll-lobby::-webkit-scrollbar {
  display: block;
  width: 18px;
  background-color: #023047d8;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.scroll-lobby::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #ef233c;
  border: solid 5px transparent;
  border-radius: 0.75rem;
}

.selectable {
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -o-user-select: text !important;
  user-select: text !important;
}

.glass-container {
  background: rgba(2, 48, 71, 0.49);
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(12.4px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.shadow-input {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px, rgba(0, 0, 0, 0.04) 0px 2px 2px,
    rgba(0, 0, 0, 0.04) 0px 4px 4px, rgba(0, 0, 0, 0.04) 0px 8px 8px,
    rgba(0, 0, 0, 0.04) 0px 16px 16px;
}

.shadow-input-inner {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


