@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__close-button > svg {
  color: transparent;
}

body {
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.input-focus {
  @apply border-[3px] transition-colors border-white/20  focus:border-primary;
}
.tooltip-calc:nth-child(-n + 1) {
  @apply bg-red-400;
}

.main-container {
  @apply bg-primary-dark/[15%] backdrop-blur-[50px]  rounded-3xl shadow-2xl border-[1.5px] border-white/[15%];
}

.scroll-lobby::-webkit-scrollbar {
  display: block;
  width: 18px;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.scroll-lobby::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #ef233c;
  border: solid 5px transparent;
  border-radius: 0.75rem;
}

.selectable {
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  -o-user-select: text !important;
  user-select: text !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
